div{
    color: rgb(0, 0, 0);
    /* background-color: #e8ddc8; */
  }
  
  a:link {
    color: rgb(113, 67, 11);
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(113, 67, 11);
    background-color: #36454F;
    text-decoration: none;
  }
  
  a:hover {
    color: #A9A9A9;
  }
  
  a:activate {
    color: white;
  }