<!DOCTYPE HTML>
<html>

<head>
  <link rel="stylesheet" type = "text/css" href="{{ url_for('static',filename='css/base_style.css') }}">
  <title>
    pladdict
  </title>
  <div>
    .
    {% if current_user.is_anonymous %}
    {% else %}
    <a href="{{ url_for('home', username=current_user.username) }}">Calendar</a>
    <a href="{{ url_for('forum', username=current_user.username) }}">Community Forum</a>
    <a href="{{ url_for('search', username=current_user.username) }}">Search</a>
    <a href="{{ url_for('profile', username=current_user.username) }}">My Profile</a>
    <a href="{{ url_for('logout') }}">Logout</a>
    {% endif %}

  </div>
  {% block mycontent %}{% endblock %}
</head>

</html>