{% extends "base.html" %}

{% block mycontent %}

<head>
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static',filename='css/style.css') }}">
</head>

<center>
    <picture>
        <img src="https://media.discordapp.net/attachments/758931822368784434/1086463776959762472/Screenshot_2023-03-17_at_6.39.05_PM.png?width=1007&height=297" alt="pladdict logo" style="width:340px;height:100px;">
    </picture>
<body>
    <div class = "smallerTitle">Delete Account</div>
    <p>
        Confirm delete account: <br>
        <br>
        <button><a href="{{ url_for('home', username=current_user.username) }}">No</a></button>
        <button><a href="{{ url_for('delete', username=current_user.username) }}">Yes</a></button>
    </p>
</body>
</center>

{% endblock %}
