{% extends "base.html" %}

{% block mycontent %}

<head>
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static',filename='css/style.css') }}">
</head>

<center>
<body>
    <h1>Delete Account</h1>
    <p>
        Confirm delete account: <br>
        <br>
        <button><a href="{{ url_for('home', username=current_user.username) }}">No</a></button>
        <button><a href="{{ url_for('delete', username=current_user.username) }}">Yes</a></button>
    </p>
</body>
</center>

{% endblock %}
