{% extends "base.html" %}

{% block mycontent %}

<head>
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static',filename='css/login_style.css') }}">
</head>

<h1>
    Pladdict
</h1>

<h2>
    Login
</h2>

<form action="" method="POST" novalidate>
    {{form.hidden_tag()}}
    <p>{{form.username.label}} <br> {{form.username()}}</p>
    <p>{{form.password.label}} <br> {{form.password()}}</p>
    <!--<p>{{form.remember_me.label}} <br> {{form.remember_me()}}</p>-->
    <p>{{form.submit.label}} <br> {{form.submit()}}</p>
    <p>New User? <a href="{{ url_for('signup') }}">Sign Up Here</a>
    <p>
</form>

{% endblock %}