<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="https://media.discordapp.net/attachments/758931822368784434/1086463776959762472/Screenshot_2023-03-17_at_6.39.05_PM.png?width=1007&height=297" width="70" height="40" />
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {% if not current_user.is_authenticated %}
            <li class="nav-item">
            <a class="nav-link" href="{{url_for('login')}}">Login/Sign Up</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('home', username = current_user.username)}}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('profile', username=current_user.username)}}">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('forum', username=current_user.username)}}">Forum</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('new_post', username=current_user.username)}}">Post</a>
            </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Account
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{url_for('logout')}}">Log out</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{url_for('delete', username = current_user.username)}}">Delete Account</a>
            </div>
            </li>
        {% endif %}
      </ul>
    <form class="form-inline my-2 my-lg-0" method="POST">
      <input name = "searched" class="form-control mr-sm-2" type="search" placeholder="Search for a plant" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    </div>
  </nav>
