{% extends "base.html" %}

{% block mycontent %}

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
</head>

<center>
    <picture>
        <img src="https://media.discordapp.net/attachments/758931822368784434/1086463776959762472/Screenshot_2023-03-17_at_6.39.05_PM.png?width=1007&height=297" alt="pladdict logo" style="width:340px;height:100px;">
    </picture>
    <div class = "smallerTitle">{{user.username}}'s Profile</div>
    <center>
        {% if user.profilepic %}
        <img width="200px" src="{{ url_for('static', filename='css/profile_images/' + user.profilepic)}}" />
        {% else %}
        <img width="200px" src="{{ url_for('static', filename='css/profile_images/profilepic.png')}}" />
        {% endif %}
    </center>
    <br>
    <div class="profileBox">
        <p>
        {% if user == current_user %}
        Username: {{user.username}}<br>
        Email address: {{user.email}}<br>
        Phone number: {{user.phone}}<br>
        {% else %}
        Username: {{user.username}}<br>
        {% endif %}

        {# must be current user's profile to edit and delete account #}
        {% if user == current_user %}
            <button><a href="{{ url_for('edit', username=current_user.username ) }}">Edit</a></button>
            <br>
            <button><a href="{{ url_for('deleteConfirm', username=current_user.username) }}">Delete Account</a></button>
        {% endif %}
        </p>
    </div>
</center>
<br>
<center>
    <div class = "smallerTitle">{{user.username}}'s Plants</div>
    {%for plant in plant_data %}
        {{plant.common_name}} also known as {{plant.scientific_name[0]}}
    {% endfor %}
</center>
<br>
<center>
    <div class = "smallerTitle">{{user.username}}'s Posts</div>
    {% for post in list_of_posts %}
    <p>
        <article class="media content-section">
            {# <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}"> #}
            <div class="media-body">
                <div class="article-metadata">
                <a class="mr-2" href="{{url_for('profile', username=post.author.username)}}">{{ post.author.username }}</a>
                <small class="text-muted">{{ post.time_posted.strftime('%Y-%m-%d') }}</small>
                </div>
                <h2><a class="article-title" href="{{ url_for('post', post_id=post.post_id) }}">{{ post.post_title }}</a></h2>
                <p class="article-content">{{ post.post_content }}</p>
            </div>
            </article>
    </p>
    {% endfor %}
</center>

{% endblock %}
