{% extends "base.html" %}

{% block mycontent %}

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
</head>

<center>
    <picture>
        <img src="https://media.discordapp.net/attachments/758931822368784434/1086463776959762472/Screenshot_2023-03-17_at_6.39.05_PM.png?width=1007&height=297" alt="pladdict logo" style="width:340px;height:100px;">
    </picture>
    <div class = "smallerTitle">{{user.username}}'s Profile</div>
    <center>
        <picture>
        {% if user.profilepic %}
        <img width="200px" src="{{user.profilepic}}" />
        {% else %}
        <img src="https://th.bing.com/th/id/R.892b0a529819da4166d458a477068f54?rik=rn4CbHYsELO1HA&riu=http%3A%2F%2Fcdn.onlinewebfonts.com%2Fsvg%2Fimg_271769.png&ehk=HcHyW6iNPfiT%2F75Eu4Ov0rCPGWpDTgygnsT2ZoMtdyE%3D&risl=&pid=ImgRaw&r=0"
                alt="pladdict logo" style="width:340px;height:300px;">
        {% endif %}
        </picture>
    </center>
    <br>
    <div class="profileBox">
        <p>
        Username: {{user.username}}<br>
        Email address: {{user.email}}<br>
        Phone number: {{user.phone}}<br>

        <button><a href="{{ url_for('edit', username=current_user.username) }}">Edit</a></button>
    </p>
    </div>
</center>

{% if user == current_user %}
{% for post in posts %}
<p>
    {{ post.author.username }} says: <b>{{ post.body }}</b>
</p>
{% endfor %}
{% endif %}

{% endblock %}
