{% extends "base.html" %}

{% block mycontent %}

<head>
  <link rel="stylesheet" type = "text/css" href="{{ url_for('static',filename='css/style.css') }}">
  <title>Search</title>
</head>

<center>
  <picture>
      <img src="https://media.discordapp.net/attachments/758931822368784434/1086463776959762472/Screenshot_2023-03-17_at_6.39.05_PM.png?width=1007&height=297" alt="pladdict logo" style="width:340px;height:100px;">
  </picture>
</center>

<div class = "smallerTitle">
    Searched for: {{form.searched.data}}
</div>

<div class = "tabs">
    <div class = "tabBox">
        <div class = "tabText">
          Plants
        </div>
    </div>
    <div class = "tabBox">
      <div class = "tabText">
        <a href="{{ url_for('searchProfile', username = form.searched.data) }}">Users</a>
      </div>
  </div>
</div>

<div class = "resultBox">
  <center>
{% set name = [] %}    

<br>
<div class="card-group">
    <div class="row">
      {% for data in data['data'] %}
        {% if data.common_name not in name %}
          <div class="col-md-4 mb-3">
            <div class="card">
              {% if data.default_image.original_url == null %}
                <img style="width: 300px; height: 300px;" class="card-img-top" src="{{ url_for('static', filename='css/images/no_image.png')}}" alt="Card image cap">
              {% else %}
                <img style="width: 300px; height: 300px;" class="card-img-top" src="{{ data.default_image.original_url }}" alt="Card image cap">
              {% endif %}
              <div class="card-body">
                <h5 class="card-title">{{ data.common_name|title }}</h5>
                <i class="card-title">{{ data.scientific_name[0] }}</i>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Watering: <i>{{ data.watering }}</i></li>
                <li class="list-group-item"> 
                    Sunlight: 
                <i> 
                    {% for item in data.sunlight %}
                        {{ item }}{% if not loop.last %},
                        {% endif %}
                    {% endfor %}
                </i>
                </li>
              </ul>
              <div class="card-body" style="display: flex; justify-content: center;">
                <button type="submit" class="add-to-inventory-btn">Add to Collection</button>
                    <style>
                    .add-to-inventory-btn {
                        background-color: green;
                        color: white;
                        padding: 10px 20px;
                        border: none;
                        border-radius: 5px;
                        font-size: 15px;
                        cursor: pointer;
                    }

                    .add-to-inventory-btn span {
                        margin-left: 5px;
                    }
                    </style>
                <!-- <a href="#" class="card-link">Another link</a> -->
              </div>
            </div>
            {% set _ = name.append(data.common_name) %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  </center>
</div>
{% endblock %}