{% extends "base.html" %}

{% block mycontent %}

<head>
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static',filename='css/style.css') }}">
</head>

<center>
    <div class = "smallerTitle">Search</div>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.search.label }}<br>
            {{ form.search(size=32) }}<br>
            {% for error in form.search.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <br>
            {{form.submit()}}</p>

    </form>
</center>
{% endblock %}